@font-face {
    font-family: 'Guthen Bloots';
    src: url('/wp-content/themes/leone-corpo/fonts/GuthenBloots.woff2') format('woff2'),
        url('/wp-content/themes/leone-corpo/fonts/GuthenBloots.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}