body, html {
  scroll-behavior: smooth;
  position: relative;
  height: 100%;
  overflow-x: hidden;
}

*, body {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 50px;
  line-height: 60px;

  @include media-breakpoint-down(sm){
    font-size: 40px;
    line-height: 50px;
  }

  span {
    font-size: 68px;
    font-weight: 400;
    line-height: 71px;
  }
}

p {
  font-size: 18px;
  line-height: 27px;
}

p + .buttons-group  .button{
  margin: 25px 13px;
}

a {
  transition: ease-in-out 0.3s;

  &:hover {
    text-decoration: none;
  }
}

.bg-dark-with-opacity {
  background-color: $black-with-opacity;
}

.bg-light {
  background-color: $white;
}

.button,
.button {
  display: inline-flex;
  transition: background-color 1s ease-in-out;
  font-size: 15px;
  border-radius: 20px;
  padding: 20px 40px;
  font-weight: 700;
  cursor: pointer;
  @include media-breakpoint-down(sm){
		padding: 10px 25px;
	}
  &:hover {
    text-decoration: none;
  }
}

.button-small{
  padding: 15px 30px;

  @include media-breakpoint-down(sm){
		padding: 10px 25px;
	}
}


.button__primary {
  background-color: $primary;
  font-weight: 700;
  color: $white;
  &:hover {
    color: $white;
    opacity: 0.8;
  }
}

.button__secondary {
    transition: background-color 1s ease-in-out;
    background-color: $white;
    border: 2px solid $primary;
    color: $primary;
    background-color: white;

    &:hover {
      color: $black;
      border: 2px solid $black;
    }
}


@media (min-width: 1400px){
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1340px;
  }
}

.br-20 {
  border-radius: 20px;
}

.hidden{
  display: none;
}

.hero-line {
  position: relative;
  &::before { 
    content: '';        
    position: absolute;
    z-index: 2; 
    top:$gutter;
    left: 1px;
    width: 100%;
    height:391px;
    background: url('/wp-content/themes/leone-corpo/img/lines/Lines-CentralShort-EXE.svg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    opacity: 0.3;
    @include media-breakpoint-down(md) {
      top: 55px;
    }
  }   
}

.left-arrow,
.right-arrow {
  position: absolute;
  content: '';
  background: url(/wp-content/themes/leone-corpo/img/icons/arrow.svg) center no-repeat;
  background-size: 100%;
  height: 50px;
  width: 25px;
}

.left-arrow {
  margin-top: -25px;
  top: 50%;
  left: 0;
  transform: rotate(180deg);
}

.right-arrow {
  margin-top: -25px;
  top: 50%;
  right: 0;
}
.wpcf7 form .wpcf7-response-output {
  margin: 4em .5em 1em;
}

.iframe-block {
   iframe {
     @include media-breakpoint-down(md) {
      width: 100%;
      height: 300px;
     }
   }
}