.home .section-title--red {
    @include media-breakpoint-down(sm){
        margin: 0;
        text-align: left;
    }
} 
.home .three-blocks,
.home .certificates  {
    .section-title--red {text-align: center; }
}

.section-title {
    font-size: 45px;
    line-height: 60px;
    margin-bottom: 0;
    @include media-breakpoint-down(sm){
        font-size: 38px;
        line-height: 53px;
    }
    &--red {
        color: #B12326;
        font-size: 60px;
        font-family: $font-titles;
        line-height: 71px;
        font-weight: 400;
        @include media-breakpoint-down(sm){
            font-size: 48px;
            line-height: 59px;
            text-align: center;
            margin: auto;
        }
	}
}

.main-title {
    &--span {
        font-family: $font-titles;
        color: rgba(229, 229, 229, 0.8);
        font-size: 50px;
        font-style: normal;
        font-weight: 400;
        line-height: 52px;
        letter-spacing: 0em;
        text-align: center;
    }
}

.page-subtitle {
    font-size: 30px;
    font-weight: 700;
    font-family: $font-titles;
    line-height: 31px;
    margin-bottom: 3px;
    @include media-breakpoint-down(sm){
        font-size: 27px;
        line-height: 28px;
    }  
}

.page-description {
    font-size: 20px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0;
    @include media-breakpoint-down(sm){
        font-size: 16px;
    }  
}