.cards{
    padding: $gutter 0;
}
.cards__list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(410px,1fr));
    gap: 20px;
    @include media-breakpoint-down(md){
        grid-template-columns: repeat(auto-fit,minmax(230px,1fr));        
    }
}
.cards__item{
    position: relative;
    background: $primary;
    border-radius: 20px;
    color: white;
    padding: $gutter/2.5;
}
.cards__item-title{
    font-family: $font-titles;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 105%;
    padding-bottom: $gutter/5;
    align-items: center;
}
.cards__item-icon{
    height: 90px;
    width: 70px;
    color: white;
    margin-right: 20px;
}
.hooks__list{
    padding-left: 45px;
    list-style-type: none;
}
.hooks__item{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 170%;
    padding-left: 30px;
    position: relative;
    &::before{
        position: absolute;
        left: 0;
        top: 3px;
        width: 20px;
        height: 20px;
        content: '';
        background-size: 20px 18px;
        background-repeat: no-repeat;
        background-image:url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.1266 0.459533C18.2241 -0.0605898 17.2175 0.942504 16.6274 1.53693C15.2737 2.94869 14.1282 4.58336 12.8438 6.06943C11.4206 7.7041 10.1016 9.33877 8.64371 10.9364C7.81064 11.828 6.90814 12.7939 6.35275 13.9085C5.10313 12.6081 4.02708 11.1964 2.63861 10.0447C1.63198 9.22738 -0.0341777 8.63295 0.000533834 10.602C0.069957 13.1655 2.18736 15.9147 3.74938 17.6608C4.4089 18.4038 5.27669 19.184 6.28333 19.2212C7.49823 19.2955 8.74785 17.7351 9.47679 16.8806C10.7612 15.3945 11.8025 13.7227 12.9827 12.1995C14.51 10.1933 16.072 8.22422 17.5646 6.18088C18.5018 4.91773 21.4523 1.79693 19.1266 0.459533ZM1.52779 10.4534C1.49307 10.4534 1.45836 10.4534 1.38894 10.4905C1.25009 10.4534 1.14596 10.4162 1.00711 10.3419C1.11125 10.2676 1.28481 10.3047 1.52779 10.4534Z" fill="white"/></svg>');
    }
}

.cards__under{
    padding-top: $gutter;
    .content-block__buttons{
        padding-top: $gutter/2;
    }
}