.certificates{
    padding: $gutter 0; 
    padding-top: 50px;

    &.bgline__CentralShort::before {
        @include media-breakpoint-down(sm){
            display: none;
        }
    }
}

.certificates__futured-row{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content:center;
    margin-top: 53px;
}
.certificates__normal-row{
    display: flex;
    align-content: center;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;

    .certificates__item img{
        @include media-breakpoint-down(sm){
            width: 75px;
        }
    }
}
.certificates__item{
    margin: 20px;
}