.contact-block{
    padding: $gutter;
    @include media-breakpoint-down(sm){
        padding: $gutter 15px;
    }
}
.contact-block__content{
    padding-top: $gutter; }
.contact-block__titlelogo{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 150%;   
}

.contact-block__list{
    padding-top: $gutter;
    list-style: none;    
}

.contact-block__item{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    padding-bottom: $gutter/2;
    a{
        color: $black;
        text-decoration: underline;

    }
    svg{
        color: $primary;
        height: 30px;
        width: 30px;
        margin-right: $gutter/2;
    }
}

.contact-block__title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 120%;
}

.contact-block__left{
    padding: 40px;
    background: #F0F0F0;
}

.contact-block__form{
    padding-top: 15px;
}
.contact-block__input{
    display: block;
    width: 100%;
    margin-bottom: 12px;
    padding: 15px 25px;
    border: 1px solid #CECECE;
    box-sizing: border-box;
    &::placeholder {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 150%;
        color: #BABABA;
    }
}

//reset
.contact-block__button{
    border: none;
    float: right;
    margin-top: 15px;
}


.contact-address{
    padding: $gutter;
    @include media-breakpoint-down(sm){
        padding: $gutter 0 0;    
    }
}
.contact-address__title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 120%;
}
.contact-address__list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(270px,1fr));
    gap: 60px;
    padding: $gutter/2 0 $gutter;
}

.contact-address__item-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 150%;
}
.contact-address__item-list{
    padding-left: $gutter/2;
    padding-top: $gutter/2;
}
.contact-address__contact{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    padding-bottom: 20px;
    a{
        text-decoration-line: underline;
        color: $black ;
    }
    svg{
        color: $primary;
        height: 30px;
        width: 30px;
        margin-right: $gutter/5;
    }
}