.counter{
    margin: $gutter 0;
    padding: $gutter 0;
    background-size: cover;
    background-position: center;
    background-image: url('/wp-content/themes/leone-corpo/img/Leone9.png');
    position: relative;
    @include media-breakpoint-down(sm){
		margin: 0;
	}  
    &::before{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        content: '';
        background: rgba(0, 0, 0, 0.52);
    }
}
.counter__list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(410px,1fr));
    gap: 21px;
    @include media-breakpoint-down(md){
        grid-template-columns: repeat(auto-fit,minmax(230px,1fr));
    }
}
.counter__item{
    z-index: 2;
    background: rgba(0, 0, 0, 0.7);
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 20px;
    color: white;
    padding: 22px 45px;
    display: flex;
    gap: 40px;
    align-items: center;
    @include media-breakpoint-down(md){
        flex-wrap: wrap;
        gap: 0px;
    }
    &--first{
        background: $primary;
        border: none;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 120%;
    }
}
.counter__item-number{
    font-family: 'Guthen Bloots';
    font-style: normal;
    font-weight: normal;
    font-size: 138px;
    line-height: 105%;
    color: $primary;
}
.counter__item-text{
    font-family: 'Guthen Bloots';
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    line-height: 100%;
}
