.cv-block__form {
    padding: 0;
    label {
        margin: 0 10px 0 0;
        font-size: 15px;
    }
    h2 {
        font-size: 30px;
    }
    .upload-cv {
        height: 0;
        opacity: 0;
    }
    .filename {
        background: transparent;
        border: 0;
    }
}
.cv-block__buttons {
    display: flex;
    flex-wrap: wrap;

    div {
        flex: 2;
        br {
            display: none;
        }
    }

    p {
        flex: 1;

        input[type="submit"] {
            width: 100%;
            justify-content: center;
        }
    }
}
.cv-block__button {
    padding: 10px 50px;
    border: 0;
}
.cv-block__upload-button {
    font-size: 15px;
    font-weight: bold;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid #cecece;
    padding: 10px 25px;
}
