.four-blocks{
    padding: $gutter 0;
}
.four-blocks__list{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
    gap: 60px;
    @include media-breakpoint-down(sm){
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
}
.four-blocks__item{
    img{
        vertical-align:middle;
        width: 100%;
        height: auto;
        @include media-breakpoint-down(sm){
            width: 50%;
        }
    }
}

.four-blocks--icons{
    .four-blocks__item--icon{
        padding: 20px 0;
        text-align: center;
    }
    .four-bloks__item--content{
        text-align: center;
        padding: 0 15px 20px;
    }
} 
.four-blocks--bg-green{
    background: rgb(227,234,217);
    background: linear-gradient(0deg, rgba(227,234,217,1) 0%, rgba(255,255,255,1) 100%);
    border-radius: 20px;
    padding-bottom: $gutter;
    .four-blocks__item--icon{
        svg{
            background: $green;
            border-radius: 50%;
            border: 3px solid $green;
            width: 50%;
            height: auto;
            color: white;
            @include media-breakpoint-down(sm){
                width: 100%;
            }
        }
    }
}

.icons__special-tilte{
    width: 70%;
    margin: 0 auto;
    @include media-breakpoint-down(md){
        width: 100%;
        margin: 0;
    }
}