.hover-card__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  @include media-breakpoint-down(md){
    margin-top: $gutter/1.5;
  }
}

.hover-card__item{
  position: relative;
  &:hover{
    .hover-card__hover{
      display: block;
    }
  }
}

.hover-card__normal {
  background-color: #F2F2F2;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  padding: 40px;
  position: relative;
  text-align: center;
}

.hover-card__normal-title {
  font-family: 'Guthen Bloots';
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 105%;
  color: $primary;
  display: block;
}

.hover-card__normal-icon {
  display: block;
  text-align: center;
  padding-bottom: 20px;
  svg{
    height: 50px;
    width: 50px;
    color: $primary;
  }
}


.hover-card__more {
  position: absolute;
  right: 0;
  bottom: 0;
  background: $primary;
  color: $white;
  font-size: 20px;
  border-radius: 20px 4px 20px 0;
  height: 35px;
  width: 44px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: $white;
}

.hover-card__hover {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: $primary;
  padding: 24px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hover-card__hover-title{
  font-family: 'Guthen Bloots';
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 105%;
  display: block;
  color: white;
  text-align: center;
  position: relative;
  padding-left: 55px;
  padding-right: 55px;
  padding-bottom: 16px;
  font-weight: 400;
}
.hover-card__hover-icon{
  position: absolute;
  left: 0;
  top: -10px;
  height: 60px;
  width: 50px;
  svg{
    height:100%;
    width: 100%;
    color: white;
  }
}

.hover-card__hover-content{
  display: block;
  color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

.hover-card__hover-more{
  color: white;
  content: '->';
  position: absolute;
  right: 20px;
  bottom: 20px;
  img {
    height: 18px;
  }
}