.images-text__block-title{
    font-family: 'Guthen Bloots';
    font-style: normal;
    font-weight: normal;
    font-size: 68px;
    line-height: 105%;
    /* or 71px */
    color: #B12326;
    @include media-breakpoint-down(sm){
        text-align: center;
    }
}

.images-text__block-subtitle{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 150%;
}

.image_cards__list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    @include media-breakpoint-down(sm){
        grid-template-columns: repeat(2, 1fr);
    }
}

.image_cards__item{
    filter: drop-shadow(1px 1px 20px rgba(0, 0, 0, 0.2));
    img{
        width: 100%;
        height: auto;
    }
}
.images-text__content{
    padding-top: $gutter;
}