.map-image__special-content{
    width: 80%;
    margin: 0 auto;
    @include media-breakpoint-down(md){
        width: 100%;
        margin: 0;
    }
}

.map-image__content{
    margin-top: $gutter;
    img{
        width: 80%;
        height: auto;
        margin: 0 auto;
        display: block;
        @include media-breakpoint-down(md){
            width: 100%;
            margin: 0;
        }
    }
}

.map-image--gray{
    position: relative;
    &::before{
        position: absolute;
        width: 100%;
        height: 80%;
        top: 10%;
        left: 0;;
        background: #F9F9F9;
        content: '';
        border-radius: 20px;
        z-index: -1;
    }
}