.partners{
    padding: $gutter*2 0 $gutter*2.8;
    @include media-breakpoint-down(sm){
        padding: $gutter*2 0 $gutter;
    }
    &.bgline__CentralShort {
        @include media-breakpoint-down(sm){
            padding-top: 25px!important;
        }
        &::before {
            @include media-breakpoint-down(sm){
                display: none;
            }
        }
    }
}
.partners__container {
    position: relative;
}
.partners__list{
    padding: $gutter*1.5 20px $gutter *1.5;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(170px,1fr));
    gap: 30px 90px;
    box-sizing: border-box;
    border-radius: 40px;
    position: relative;
    @include media-breakpoint-down(sm){
        z-index: 10;
    }
    
    .slick-slide img {
        max-height: 75px;
    }
}
.partners__list-border{
    border: 3px solid $primary;
    @include media-breakpoint-down(sm){
        border: none;
    }
}
.partners__item{
    width: 100%;
    height: 75px;
    @include media-breakpoint-down(sm){
        padding: 0 10px;
    }

    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }
}

.partners__list__title{
    position: relative;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 120%;
    padding-bottom: $gutter;
    @include media-breakpoint-down(sm){
        z-index: 10; 
    }
}

.partners__list__subtitle{
    z-index: 20;
    background: white;
    padding: 0 $gutter*1.5;
    position: absolute;
    top:0;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-family: $font-titles;
    font-style: normal;
    font-weight: normal;
    font-size: 68px;
    line-height: 105%;
    color: $primary;
    width: max-content;
    max-width: calc(100% - 30px);
    @include media-breakpoint-down(sm){
        font-size: 48px;
        line-height: 105%;
        max-width: calc(100% - 10px);
        padding: 0 $gutter;
    }
}