.product-blocks{
    padding: $gutter 0;;
}

.product-blocks__list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(260px,1fr));
    gap: 20px;
}

.product-blocks__item-image{
    height: 0;
    width: 100%;
    padding-top: 100%;  
    position: relative;
    &::before{
        position: absolute;
        top: 5%;
        left: 0;
        height: 90%;
        width: 100%;
        border-radius: 20px;   
        background: rgb(247,247,247);
        background-color: radial-gradient(circle, rgba(247,247,247,1) 0%, rgba(255,255,255,1) 100%);
        content: '';
    }
    img{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}

.product-blocks__item-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    padding: 12px 15px 0;
}
.product-blocks__item-content{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 150%;
    padding: 0 15px;
}