.quote-block{
    padding: $gutter 0;
}
.quote-block__content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-left: $gutter;
}
.quote-block__quote{
    width: 100%;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: normal;
    font-size: 22px;
    line-height: 150%;
    position: relative;
    padding-right: $gutter*1.5;
    &::before{
        position: absolute;
        top: -10px;
        left: -40px;
        width: 30px;
        height: 30px;
        content: '';
        background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 23"><path d="M17.77 20.552C17.406 20.552 17.068 20.474 16.756 20.318C13.74 18.55 12.232 16.392 12.232 13.844C12.232 12.18 12.856 10.516 14.104 8.852C15.404 7.136 17.224 5.758 19.564 4.718C20.084 4.51 20.578 4.406 21.046 4.406C22.19 4.406 23.204 5.004 24.088 6.2C24.348 6.668 24.478 7.084 24.478 7.448C24.478 8.384 23.594 9.866 21.826 11.894C20.058 13.922 19.174 15.69 19.174 17.198C19.174 17.718 19.252 18.342 19.408 19.07C19.408 20.058 18.862 20.552 17.77 20.552ZM6.85 22.97C6.434 22.97 6.096 22.918 5.836 22.814C2.456 21.306 0.766 18.914 0.766 15.638C0.766 13.454 1.416 11.114 2.716 8.618C4.068 6.07 5.628 3.886 7.396 2.066C8.124 1.338 8.93 0.973996 9.814 0.973996C10.698 0.973996 11.582 1.338 12.466 2.066C13.402 2.794 13.87 3.496 13.87 4.172C13.766 5.264 12.856 7.084 11.14 9.632C8.8 12.856 7.63 15.664 7.63 18.056C7.63 19.148 7.812 20.292 8.176 21.488L8.254 21.956C8.254 22.632 7.786 22.97 6.85 22.97Z"/></svg>') no-repeat;
    }
    &::after{
        position: absolute;
        bottom: -10px;
        right: $gutter*1.5;
        width: 30px;
        height: 30px;
        content: '';
        background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 21"><path d="M3.914 19.474L3.212 19.396C1.132 19.084 0.092 18.174 0.092 16.666C0.092 16.094 0.274 15.392 0.638 14.56C1.73 12.376 2.276 10.556 2.276 9.1C2.276 8.268 2.198 7.436 2.042 6.604C2.042 5.46 2.588 4.888 3.68 4.888C4.148 4.888 4.668 5.018 5.24 5.278C7.944 6.578 9.426 8.398 9.686 10.738C9.322 16.562 7.398 19.474 3.914 19.474ZM14.522 20.176C13.43 20.176 12.338 19.916 11.246 19.396C10.206 18.876 9.686 18.096 9.686 17.056C9.686 16.484 10.154 15.08 11.09 12.844C12.182 10.556 12.728 8.58 12.728 6.916C12.728 5.46 12.182 3.978 11.09 2.47L11.012 2.236C11.012 2.08 11.116 1.82 11.324 1.456C11.688 0.727997 12.39 0.363995 13.43 0.363995C13.898 0.363995 14.366 0.493997 14.834 0.754C18.11 2.158 19.826 4.992 19.982 9.256C19.67 12.22 18.656 15.314 16.94 18.538C16.368 19.63 15.562 20.176 14.522 20.176Z"/></svg>') no-repeat ;
        
       
    }
}
.quote-block__title{
    padding: $gutter/2 0 $gutter/3;
    width: 100%;
    font-family: 'Guthen Bloots';
    font-style: normal;
    font-weight: normal;
    font-size: 68px;
    line-height: 105%;
    color: $primary;
}
.quote-block__subtitle{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
}
.quote-block__img{
    position: relative;
    &::before{
        position: absolute;
        top: 8%;
        left: 0;
        height: 90%;
        width: 100%;
        border-radius: 50%;
        content: '';
        z-index: -1;
    }
    img{
        width: 100%;
    }
}

.quote-block__container{
    position: relative;
    &::before{
        z-index: -1;
        position: absolute;
        width: 100%;
        height: 80%;
        top: 10%;
        left: 0;
        background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.5) 41.67%, rgba(240, 240, 240, 0.5) 100%);
        content: '';
        @include media-breakpoint-down(sm){
            top: 25%;
        }
    }
}