.three-blocks{
    padding: $gutter 0;
}
.three-blocks__list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 20px;
}
.three-blocks__item{
    padding: 20px 20px 0;
    text-align: center;
}

.three-blocks__image{
    position: relative;
    padding-top: 30%;
    height: 0;
    margin-bottom: $gutter/2;
    vertical-align: middle;
    @include media-breakpoint-down(md){
        padding-top: 45%;
    }
    img{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        max-width: 280px;
    }
}

.three-blocks--gray{
    background-color: #F4F4F4;
}

.three-blocks__card{
    padding: $gutter/2.5;
    text-align: center;
    border-radius: 20px;
    margin-bottom: $gutter/2.5;
    svg{ 
        color: $primary;
        height: 100px;
        width: 100px;
    }
    &--gray{
        background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.5) 41.67%, rgba(240, 240, 240, 0.5) 100%);
    }
    
}
.three-blocks__card-title{
    color: $primary;
    padding-top: $gutter/5;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 120%;
}