.novice__single{
    padding: 94px 0;
    @include media-breakpoint-down(sm){
     padding: 30px 0;
    }
    img{ 
        max-width: 100%;
        height: auto;
    }
}
.novice__single__title{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 120%;
}

.novice-last-news{
    font-family: "Guthen Bloots";
    font-style: normal;
    font-weight: normal;
    font-size: 68px;
    line-height: 105%;
    color: #B12326;
    padding-left: 25px;
}

.novice__single__list{
    margin-top: 30px;
}

.novice__item{
    padding: 20px 20px 40px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.5) 41.67%, rgba(240, 240, 240, 0.5) 100%);
    border-radius: 15px;
    margin-bottom: 20px;
    display: block;
    &:hover{
        background: #B12326;
        .novice__date{
            color: white;
        }
        .novice__title{
            color: white;
        }
        .button{
            color:  #B12326;
            background: white;
        }
    }
}
.novice__img{
    margin: 20px 0;
    padding-top: 100%;
    width: 100%;
    height: 0;
    position: relative;
    img{
        border-radius: 15px;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
        position: absolute;
    }
}
.novice__date{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 150%;
    color: #262626;
}

.novice__title{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 1.2;
    color: #262626;
    padding-top: 10px;
}

.novice__list{
    padding: 40px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
    gap: 40px;
    @include media-breakpoint-down(sm){
        grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    }
}
.novice__single__all{
    text-align: right;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 150%;
    color: #262626;
    display: block;
    span{
        text-decoration: underline;
    }
    &::before{
        display: inline;
        content: '> ';
        text-decoration: none;
    }
}
.category__list{
    display: flex;
    justify-content:center;
    padding-top: 40px;
}
.category__item{
    padding: 2px 25px;
    border-left: 1px solid #C4C4C4;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 105%;
    color: #C4C4C4;
    display: block;
    &:first-of-type{
        border-left: 0;
    }
    &.active{
        color: #000000;
    }
    &:hover{
        color: #000;
    }
}
.novice__archive{
    padding: 80px 0;
}
.post-type-archive-novice, .single-novice{
    .novice-menu a{
        color: #B12326;
    }
}