.accordion-tabs {
    padding: 50px 0;
}
.accordion {
    background-color: #fff;
    font-weight: bold;
    color: #212529;
    border-bottom: 1px solid #f4f4f4 !important;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: 0.4s;

    &:first-child {
        border-top: 1px solid #f4f4f4 !important;
    }
}

.accordion .active, .accordion:hover {
    background-color: #f4f4f4; 
}

.panel {
    padding: 15px;
    display: none;
    background-color: white;
    overflow: hidden;
}