.awards-line {
    z-index: 15;
    position: relative;  
    display: flex;
    background: $white;
    border-radius: 20px;
    height: 172px;
    padding: 10px 26px;
    margin-top: -60px;
    
    .slick-list {
      height: 100%;
      align-items: center;
      display: flex;
    }
    
    @include media-breakpoint-up(lg) {
      padding: 0 86px;    
      margin-bottom: $gutter;   
    }

    .slick-track {
      display: flex !important;
      align-items: center;
    }

    &__item {
      flex: 1;
      @include media-breakpoint-down(lg) {
        margin: 0 10px;
        text-align: center;
      }

      @include media-breakpoint-down(md) {
        margin: 0 10px;
        text-align: center;
      }

      img {
        width: 100%;
        &:hover {
          outline: none;
        }
      }
    }
}
