.content-block {
  	position: relative;
  	padding: $gutter*1.5 0;
	@include media-breakpoint-down(sm){
		padding: $gutter/2 0;
	}  
	.container{
		position: relative;
	}
	.icons-group {
		&--left {
			position: absolute;
			left: -180px;
			top: -80px;
		}	
	}

  	h1 {
		margin-bottom: 30px;
		padding-top: 5px;

		span {
			color: $primary;
		}
	}

	img {
		width: 100%;
		height: auto;
	}
}


.content-block__rl + .content-block.bgline__CentralDouble,
.content-block__lr + .content-block__lr  {
	@include media-breakpoint-down(sm){
		padding-top: 25px !important;
	}  
} 
.content-block__content {
	margin-bottom: $gutter/1.5;
	@include media-breakpoint-down(sm){
		margin-bottom: $gutter/2.8;
	}
}

.content-block__content:last-child {
	@include media-breakpoint-down(sm){
		margin-bottom: 0;
	}
}

.content-block__buttons {
	display: flex;
	flex-wrap: wrap;

	.button__primary {
		margin-right: 10px;
		margin-bottom: 10px;
	}

	.button__secondary {
		margin-bottom: 10px;
	}

	
}

.content-block__buttons-center{
	justify-content: center;
}

.content-block__title{
	.section-title{
		display: inline;
		@include media-breakpoint-down(sm){
			display: block;
			margin: 0 auto;
		}
	}
}
.content-block__brand{
	.content-block__brand-logo{
		height: 85px;
		width: auto;
		max-width: 100%;
	}
	.content-block__brand-title{
		font-family: Roboto;
		font-style: italic;
		font-weight: bold;
		font-size: 34px;
		line-height: 120%;
		color: #262626;
		padding: $gutter/3 0 $gutter/2;
	}
	.content-block__brand-bg {
		position: relative;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		&::before{
			z-index: -1;
			position: absolute;
			top: 0;
			left: 15%;
			width: 75%;
			height: 100%;
			content: '';
			border-radius: 20px;
		}
		&--gray{
			&::before{
				background: #F0F0F0;
			}
		}
	}
}

.icons__block {
	position: absolute;
	left: 1px;
	top: -65px;
	display: block;
}

.icons__list{
	position: relative;
}

.icons__item{
	height: 83px;
	width: 83px;
	color: $primary;
	overflow: visible;	
    z-index: 99;
	//background: white;
}

.icons__item-first{
	position: absolute;
	left: -128px;
	top: 50px;
	transform: rotate(-54.34deg);
}
.icons__item-second{
	transform: rotate(-12.4deg);
	position: absolute;
	left: -45px;
	top: -37px;
}
.icons__item-third{
	transform: rotate(6.5deg);
	position: absolute;
	left: 93px;
	top: -43px;
}


@media (max-width: 1400px){
	.icons__item-first{
		display: none;
	}
	.icons__item-second{
		transform: rotate(10.6deg);
		position: absolute;
	    left: -53px;
    	top: -40px
	}
	.icons__item-third{
		transform: rotate(13.5deg);
		left: 70px;
		top: -22px;			
	}
}


.icons__block-rl{
	right: 1px;
	left: auto;
	.icons__item-first{
		position: absolute;
		left: auto;
		right: 200px;
		top: -55px;
		transform: rotate(-17.3deg);
	}
	.icons__item-second{
		transform: rotate(22.02deg);
		position: absolute;
		left: auto;
		right: 93px;
		top: -50px;
	}
	.icons__item-third{
		transform: rotate(46.77deg);
		position: absolute;
		left: auto;
	    right: 23px;
    	top: 0;
	}	
	@media (max-width: 1400px){
		right: -108px;
		.icons__item-first{
			display: block;
		}
	}
}

@media (max-width: 1199px){
	.icons__block{
		display: none;
	}
}

.icons__block-centerd{
	position: absolute;
	left: 50%;
	top: 20px;
	transform: translate(-50%, 0);
}

.icons__item-centerd{
	background: white;
}

.icons__block-header{
	z-index: 15;
    left: calc(50% - 300px);
    top: 100px;
	@include media-breakpoint-down(md) {
		left: 40%;
		top: 45px;
	}
	.icons__item{
		color: white;
		height:70px;
		width: 70px;
		background: transparent;
	}
	.icons__item-first{
		left: -100px;
		top: 50px;
		@include media-breakpoint-down(md) {
			top: -10px;
			left: -100px;
			transform: rotate(-24deg);
		}
	}
	.icons__item-second{
		position: absolute;
		left: -10px;
		top: -10px;
		transform: rotate(-30.4deg);
		@include media-breakpoint-down(md) {
			transform: rotate(-6deg);
			top: -28px;
		}
	}
	.icons__item-third{
		transform: rotate(-16.5deg);
		left: 95px;
		top: -46px;
		@include media-breakpoint-down(md) {
			transform: rotate(-1.5deg);
			top: -24px;
		}
	}
	@media (max-width: 1400px){
		.icons__item-first{
			display: block;
		}
	}
}

