.header {
  	position: relative;
    display: flex;
    margin-top: -81px;
    top: 0;
    width: 100%;
    height: 731px;
    background-size: cover !important;

    &__content {
        position: relative;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 10;
    }

    &__image {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        top: 0;
        object-fit: cover;
    }

  	.buttons-group {
        .button {
            margin: 20px 13px 0;

            @include media-breakpoint-down(sm){
                width: 80%;
                text-align: center;
                align-items: center;
                justify-content: center;
            }  
        }
        .button__secondary {
            color: $black;
            border: 0;
        }
	}

    .main-title {
        line-height: 70px;
	  	margin-bottom: 25px;
        @include media-breakpoint-down(sm){
            line-height: 50px;
        }  
    }
}

.subpage-header {
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 180px;
    padding-bottom: 65px;

    @media (max-width: 1199px){
        .icons__block{
            display: block;
        }
    }

    @include media-breakpoint-down(sm){
        font-size: 16px;
        padding-bottom: 55px;
        padding-top: 145px;
    }  

    &__text {
        position: relative;
        z-index: 1;
    }

    &:after {
        display: block;
        position: absolute;
        top: 0;
        content: '';
        background: rgba(177, 35, 38, 0.6);
        height: 100%;
        width: 100%;
    }
    .main-title {
        font-size: 120px;
        font-weight: 400;
        line-height: 105%;  
        margin-bottom: 23px;
        font-family: $font-titles;

        @include media-breakpoint-down(sm){
            font-size: 85px;
            line-height: 65%;
        }  
    }
    .page-subtitle {
        font-family: $font-primary;
        @include media-breakpoint-down(sm){
            margin-bottom: 5px;
        }
    }
}

.header, .subpage-header {
    position: relative;
    top: 0;
    width: 100%;
}

// .header-unit {
// 	height: auto;
// 	height: 100%;
// 	width: 100%;
// 	position: relative;
// 	padding: 0;
// 	overflow: hidden;

//     &__overlay {
//         position: absolute;
//         display: block;
//         content: '';
//         background-color: rgba(0,0,0,.5);
//         height: 100%;
//         width: 100%;
//         z-index: 5;
//     }
// }
  
// iframe.fill-width{
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     pointer-events: none;
//    }
//   @media (min-aspect-ratio: 16/9) {
//       iframe.fill-width{ height: 300%; top:-100%;}
//   }
  
  
//   @media (max-aspect-ratio: 16/9) {
//       iframe.fill-width{ 
//       height: 150%; 
//       top:-25%;  
//       width: 300%; 
//       left: -100%
//     }
//   }
