.bgline__HomeLeft{
    position: relative;
	&::before { 
        content: '';        
        position: absolute;
        z-index: -1; 
        top: 0;
        left: 1px;
        width: 100%;
        height: 523px;
        background: url('/wp-content/themes/leone-corpo/img/lines/Lines-HomeLeft-EXE.svg');
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: cover;
    }   
}

.bgline__HomeRight{
    position: relative;
	&::before { 
        content: '';        
        position: absolute;
        z-index: -1; 
        top:-144px;
        right: 1px;
        width: 100%;
        height:811px;
        background: url('/wp-content/themes/leone-corpo/img/lines/Lines-HomeRight-EXE.svg');
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: cover;
    }   
}

.bgline__CentralDouble{
    position: relative;
    padding-top: $gutter*2 !important;
    @include media-breakpoint-down(sm){
        padding-top: $gutter !important;
    }
	&::before { 
        content: '';        
        position: absolute;
        z-index: -1; 
        top:$gutter;
        left: 1;
        width: 100%;
        height:1086px;
        background: url('/wp-content/themes/leone-corpo/img/lines/Lines-CentralDouble-EXE.svg');
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
    }   
}

.bgline__CentralShort{
    position: relative;
    padding-top: $gutter*2 !important;
    @include media-breakpoint-down(sm){
        padding-top: $gutter !important;
    }
	&::before { 
        content: '';        
        position: absolute;
        z-index: -1; 
        top:$gutter;
        left: 1px;
        width: 100%;
        height:391px;
        background: url('/wp-content/themes/leone-corpo/img/lines/Lines-CentralShort-EXE.svg');
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
    }   
}

.bgline__CentralBig{
    @include media-breakpoint-down(sm){
        padding-top: $gutter !important;
    }
    position: relative;
    padding-top: $gutter*2 !important;
	&::before { 
        content: '';        
        position: absolute;
        z-index: -1; 
        top:$gutter;
        left: 1;
        width: 100%;
        height:621px;
        background: url('/wp-content/themes/leone-corpo/img/lines/Lines-CentralBig-EXE.svg');
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
    }   
}


@media (max-width: 1199px){

}

