.ham-icon {
    position: relative;
    height: 25px;
    width: 35px;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    @media(min-width: 1265px){
        display: none; 
    }
    span {
        display: block;
        position: absolute;
        background-color: $primary;
        height: 5px;
        width: 100%;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
    }
    &__top {
        top: 0px;
    }
    &__middle {
        top: 10px
    }
    &__bottom {
        top: 20px;
    }
    &.open {
        height: 55px;
        span {
            &:nth-child(1) {
                top: 18px;
                transform: rotate(135deg);
            }
            &:nth-child(2) {
                opacity: 0;
                left: -60px;
            }
            &:nth-child(3) {
                top: 18px;
                transform: rotate(-135deg);
            }
        }
          
          #nav-icon1.open span:nth-child(2) {
            opacity: 0;
            left: -60px;
          }
          
          #nav-icon1.open span:nth-child(3) {
            top: 18px;
            transform: rotate(-135deg);
          }
    }
}

.mobile-nav {
    left: 0;
    opacity: 0;
    height: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: max-height 0.35s ease-in-out;

    @include media-breakpoint-down(md){
        position: absolute;
        top: 80px;
    }

    &.open {
        padding-bottom: $gutter * 0.8;
        opacity: 1;
        height: auto;
        @include media-breakpoint-down(md){
            background-color: rgba(0,0,0,.9);
        }
    }

    .primary-menu {
        padding-bottom: $gutter * .5;
        padding-left: 0;
    }
    ul {
        list-style: none;
        margin: 0;

        .button {
            display: block;
            margin: 0 auto;
        }

        li {
            text-align: center;

            a {
                font-size: 24px;
                line-height: 50px;
            }
        }
    }
}