#main-nav{
    .container{
        @media(min-width: 1266px){
            max-width: 100%;
            padding: 0 20px;
        }
        @media (min-width: 1400px){
            max-width: 1340px;
            padding: 0 15px;
        }
    }
}

.navbar {
    position: relative;
    z-index: 100;
    width: 100%;
    &.open {
        @media(max-width: 1265px){
            background-color: rgba(0,0,0,.9);
        }
    }

    &--dark {
        a {
            color: $white;
        }
    }

    &--light {
        a {
            color: $black;

            &:hover {
                color: $primary;
            }
        }

        .button__primary a {
            color: $white;
        }
    }

    &.bg-light {
        .menu-item-has-children {
            .dropdown-menu {
                @media(min-width: 1200px) {
                    background-color: #f8f9fa;  
                }

                li a {
                    color: #262626;

                    &:hover {
                        color: $primary;
                    }
                }
            }
        }
    }

    &.bg-dark-with-opacity {
        .menu-item-has-children {
            .dropdown-menu {
                @media(min-width: 1200px) {
                    background-color: rgba(0,0,0,.6);   
                }

                li a {
                    color: white;

                    &:hover {
                        color: $primary;
                    }
                }
            }
        }
    }

    .menu-item-has-children {   
        .dropdown-menu {
            li {
                width: 100%;
                display: block;
                padding: 0 15px;

                a {
                    color: white;
                    font-size: 20px;
                    line-height: 50px;
                }
            }
        }
    }
    @media(min-width: 1200px) {
        .menu-item-has-children {
            &:hover {
                .dropdown-menu {
                    display: block;
                }
            }
        
            .dropdown-menu {
                display: none;
                position: absolute;
                top: 81px;

                li {
                    width: 100%;
                    display: block;
                    padding: 0 15px;
    
                    a {
                        color: $primary;
                    }
                }
            }
        }
    }

    .navbar-brand {
        img {
            width: 100%;
            height: 100%;
            padding-bottom: 5px;
            vertical-align: top;
        }

        a {
            display: inline-block;
        }
    }
    .desktop-menu {
        display: flex;
        @media(max-width: 1265px){
            display: none; 
        }
        
    }
    .primary-menu {
        @include media-breakpoint-up(lg){
            padding-left: 21px;
        }

        .current-menu-item a {
            color: $primary;
        }
    }
    .secondary-menu {
        .button__primary {
            @include media-breakpoint-up(lg){
                padding: 10px 15px;
            }

            @media(max-width: 1265px){
                display: flex;
                align-items: center;
                justify-content: center;
                width: 25%;
                margin: 0 auto;
            }

            @include media-breakpoint-down(sm){
                width: 50%;
            } 

            a {
                @include media-breakpoint-down(lg){
                    line-height: normal;
                    padding: 3px 0;
                    margin: 0;
                } 
            }
        }
        .wpml-ls-legacy-list-horizontal {
            padding: 0;

            a {
                padding: 0 20px;
            }
        }
    }
    ul {
        list-style: none;
        margin-bottom: 0;
        padding: 0;

        li {
            padding: 30px 10px;

            @media(min-width: 1266px){
                display: inline;
            }
        
            a {
                font-size: 18px;
                line-height: 80px;
                font-weight: 500;
                font-family: 'Roboto';
                @media(max-width: 1230px){
                    font-size: 14px;   
                }
            }
        }
    }
    .button-small{
        padding: 9px 0;
        @include media-breakpoint-down(sm){
            padding: 5px 0;
        } 
    }
}
