.timeline__list{
    position: relative;
    padding-top: 105px;
    padding-bottom: 38px;
    &::before{
        content: '';
        left: 50%;
        top: 45px;
        height: calc(100% - 40px);
        width: 5px;
        border-right: 8px dotted rgba(229, 229, 229, 0.8);
        position: absolute;
        background-size: cover;

        @include media-breakpoint-down(md){
            left: 30%;
        }
    }
}

.timeline__item{
    position: relative;
    display: flex;
    &::before{
        content: '';
        width: 15px;
        height: 15px;
        left: calc(50% - 4px); 
        top: 12px;
        background-color: $primary;
        border-radius: 50%;
        position: absolute;
        @include media-breakpoint-down(md){
            left: calc(30% - 4px);
        }
    }
    &:last-of-type{
        .timline__item__description{
            padding-bottom: 0;
        }
    }
    &__description{
        width: 50%;
        padding-bottom: 60px;
        @include media-breakpoint-down(md){
            width: 70%;
        }
        &__content{
            font-family: $font-primary;
            font-style: normal;
            font-weight: 400;
            font-size: 19px;
            line-height: 28.5px;
            color: #000000;
        }
        &__title{
            font-family: $font-primary;
            font-weight: 700;
            font-size: 25px;
            line-height: 37.5px;
            color: #000000;
            margin: 0;
        }
    }
    &__year{
        width: 50%;
        font-family: $font-primary;
        font-weight: 700;
        font-size: 25px;
        line-height: 160%;
        @include media-breakpoint-down(md){
            width: 30%;
        }
    }    
    &-even{
        .timeline__item__description{
            padding-right: 25px;
            @include media-breakpoint-down(md){
                order: 2;
                padding-left: 25px;
            }
            .timeline__item__description__title{
                text-align: right;
                @include media-breakpoint-down(md){
                    text-align: left;
                }
            }
            .timeline__item__description__content{
                text-align: right;
                @include media-breakpoint-down(md){
                    text-align: left;
                }
            }
        }
        .timeline__item__year{
            padding-left: 25px;
            @include media-breakpoint-down(md){
                text-align: right;
                padding-right: 25px;
            }
        }
    }
    &-odd{
        .timeline__item__description{
            order: 2;
            padding-left: 25px;
        }
        .timeline__item__year{
            padding-right: 25px;
            order: 1;
            text-align: right;
        }
    }
}

