#wrapper-footer {
    background-color: $black;
    color: $white;
}

.footer {
    color: $white; 
    &__menu, p, a {
        font-size: 14px;
        line-height: 21px;
        color: white;
    }

    &__item {
        &:not(:first-child) {
            padding-top: 25px;
            padding-bottom: 25px;
            @include media-breakpoint-up(lg) {
                padding-top: 35px;
                padding-bottom: 60px;
            }
        }

        p, ul {
            margin: 0;
        }
    }

    &__menu {
        ul {
            list-style: none;
            padding: 0 0 0 10px;
            columns: 2;
            li {
                a {
                    color: $white;
                    padding-left: 4px;
                }
                &:before {
                    content: "-";
                    display: inline-block;
                }
            }
        }
    }

    &__menu-title {
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 0;
    }
}

.copyright {
    background-color: $primary;

    .site-info {
        p, a {
            color: $white;
            font-size: 12px;
            line-height: 20px;
        }
    }
}

.footer__social{
    svg{
        height: 20px;
        width: 20px;
        margin-right: 5px;
    }
    a {
        color: white;
    }
}