// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.

$grid-breakpoints: (
  // Extra small screen / phone
		xs: 0,
  // Small screen / phone
		sm: 576px,
  // Medium screen / tablet
		md: 768px,
  // Large screen / desktop
		lg: 992px,
  // Extra large screen / wide desktop
		xl: 1200px
);

// Overide max width
$container-max-widths: (
		sm: 540px,
		md: 720px,
		lg: 960px,
		xl: 1312px,
);

// Colors
$primary: #B12326;
$secondary:#164194;
$white: #FFFFFF;
$grey: #C4C4C4;
$light-grey: #F2F2F2;
$black: #262626;
$black-with-opacity: rgba(#000000, .6);

// Fonts
$font-titles:'Guthen Bloots';
$font-primary: 'Roboto', sans-serif;

// Font Weeight
$fw-500: 500;

// Gutters
$gutter: 50px;



